# Ignore everything except the app files
/*
!.gitignore
!.nojekyll
!index.html
!App.js
!config.js
!MapContainer.js
!MapUtils.js
!Sidebar.js
!SearchBar.js
!ProjectCarousel.js
!ProjectDetail.js
!ProjectFilter.js
!ColorUtils.js
!package.json
!vite.config.js
!REFACTORING_NOTES.md
!README.md
!NOTES.md
!SplitLayout.js
!storymapdata_v3.json

# Node and build artifacts
node_modules/
dist/
*.log
